<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <script src="/js/admin_ItemList.js"></script>
    <script src="https://code.jquery.com_jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/css/admin_ItemList.css"/>
</head>
<div layout:fragment="content">

<!-- 전체 큰 틀 -->
    <article class = "subtitle_main">
        <!-- 상품 수정/삭제 글자 -->
        <div class = "subtitle_title">
            <p>상품 수정/삭제</p>
        </div>


        <!-- 상품 수정/삭제 표-->
        <div class = "Itemlist_graph">
            <table class = "Itemlist_graphtable">
                <thead>
                    <tr class = "Itemlist_graphtable_title">
                        <td>상품ID</td>
                        <td>상품명</td>
                        <td>판매가</td>
                        <td>재고</td>
                        <td>수정</td>
                        <td>삭제</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each = "item : ${list}" class = "Itemlist1">
                        <td th:text = "${item.id}">상품 ID</td>
                        <td th:text = "${item.itemName}" >상품명</td>
                        <td th:text = "${item.itemPrice} + ' 원 '">판매가</td>
                        <td th:text = "${item.itemQty} + ' 개 '">재고</td>
                        <td>
                            <a th:href="@{/admin/modifyItem/{id}(id=${item.id})}">수정</a>
                        </td>
                        <td>
                            <a th:href="@{/admin/deleteItem?(id=${item.id})}" class = "delete_btn">삭제</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class = "item_paging">
             <ul>
                 <li th:each = "page : ${#numbers.sequence(0, totalPage)}">
                     <a th:href = "@{/admin/ItemList(page=${pageStat.index})}" th:text = "${pageStat.index} + 1"></a>
                 </li>
             </ul>
        </div>
    </article>
</div>
</html>