<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <link rel="stylesheet" href="/css/admin_ItemList.css"/>
</head>
<div layout:fragment="content">

<!-- 전체 큰 틀 -->
<article class = "subtitle_main">
    <!-- 상품 수정/삭제 글자 -->
    <div class = "subtitle_title">
        <p>상품 수정/삭제</p>
    </div>    

    <!-- 상품 수정/삭제 표-->
    <div class = "Itemlist_graph">
        <table class = "Itemlist_graphtable">
            <tr class = "Itemlist_graphtable_title">
                <td>상품ID</td>
                <td>상품명</td>
                <td>판매가</td>
                <td>재고</td>
                <td>수정</td>
                <td>삭제</td>
            </tr>
            <tr class = "Itemlist1">
                <td>1234</td>
                <td>GOD WARS The Complete Legend</td>
                <td>300000원</td>
                <td>200개</td>
                <td>
                    <button type = "button">수정</button>
                </td>
                <td>
                    <button type = "button">삭제</button>
                </td>
            </tr>
            <tr class = "Itemlist1">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class = "Itemlist1">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class = "Itemlist1">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class = "Itemlist1">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    
    <!-- 밑에 숫자 넘어가기 -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

</article>

</div>

</html>