# 서버 포트 설정
server:
  port: 80
  
# MariaDB 데이터베이스 연결 설정
spring:
  h2:
    console:
      enabled: true  # H2 콘솔을 사용하려면 활성화
      path: /h2-console
      
  datasource:
    url: jdbc:h2:mem:testdb  # 메모리 기반 H2 데이터베이스
    driver-class-name: org.h2.Driver
    username: sa
    password:
    
# Spring JPA 설정
  jpa:
    # 콘솔창에 실행되는 쿼리 출력
    show-sql: true
    properties:
      hibernate:
        globally_quoted_identifiers: true
      # 출력되는 sql 정렬 
        format-sql: true

    
    # 개발 시 테이블 자동 생성 - 개발 종료 후 운영 단계에서는 create 사용하지 않을 것
    # hibernate:
    #   ddl-auto: create
    # 마리아DB JPA Dialect 설정
    #database-platform: org.hibernate.dialect.MariaDB103Dialect
    
# devtools livereload
  devtools:
    livereload:
      enabled: true

# 타임리프 캐시 false -> 새로고침 시 즉시 반영
  thymeleaf:
    cache: false

# 파일 업로드 설정
  servlet:
    multipart:
      enabled: true
      location: C:/app/java/ShopProject/src/main/resources/static/img/
      max-request-size: 30MB
      max-file-size: 10MB
# 쿼리문 ? 파라미터 출력
logging:
  level:
    org:
      hibernate: 
      type:
        descriptor:
          sql: trace
#  security:
#    oauth2:
#      client:
#        registration:
#          google: 
#            client-id: 308185492153-hhgq9v3vr944b8kv0c99p4v848q7l8kn.apps.googleusercontent.com
#            client-secret: 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
#            scope: profile,email