<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<th:block layout:fragment="css">
	<link th:href="@{/css/noticeReadArticle.css}" rel="stylesheet" />
</th:block>

<div id="mainFrame" layout:fragment="content">
	<!-- 전체 레이아웃 -->
	<article class="mainWindow">
		<!-- 글쓰기 레이아웃 -->
		<div class="window">
			<div class="titleWindow">
				제목
			</div>
			<div class="dateWindow">
				작성일
			</div>
			<hr>
			<div class="bodyWindow">
				내용
			</div>
			<!-- 수정, 삭제를 위한 버튼 -->
			<div class="modifyButton">
				<div>
					수정
				</div>
				<div>
					삭제
				</div>
			</div>
		</div>
	</article>
</div>