<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <link rel="stylesheet" href="/css/notice.css"/>
</head>

<div layout:fragment="content">
 
<!-- 전체 큰 틀 -->
    <article class = "subtitle_main">
        <!-- 공지사항 글자 -->
        <div class = "subtitle_title">
            <p>공지사항</p>
        </div>
        <a sec:authorize="hasAnyAuthority('ROLE_ADMIN')" href="/notice/new" style="text-decoration: none; color: black; margin-left: 950px; border-bottom: 0px solid black;">작성하기</a>

        <!-- 공지사항 표-->
        <div class = "notice_graph">
            <table class = "notice_graphtable">
            <thead>
                <tr class = "notice_graphtable_title">
                    <td>글번호</td>
                    <td>제목</td>
                    <td>작성일</td>
                </tr>
            </thead>
                <tbody>
                <tr th:each="notice : ${list}" class = "notice1">
                    <td th:text="${notice.id}">글 번호 입력되는 창</td>
                    <td>
						<a style="text-decoration: none; color: black; font-size: 1.05rem;" th:text="${notice.title}" th:href="@{/notice/view(id=${notice.id})}">공지 제목 뜨는 창</a>
					</td>
                    <td th:text="${notice.date}">작성일자 입력되는 창</td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${startPage == list.pageable.pageNumber + 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/notice/root(page=${list.pageable.pageNumber - 1})}" tabindex="-1"><</a>
                </li>
                <li class="page-item" th:classappend="${num == list.pageable.pageNumber + 1} ? 'active'" th:each="num : ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link" th:href="@{/notice/root(page=${num-1})}" th:text="${num}">1</a></li>

                <li class="page-item" th:classappend="${endPage == list.pageable.pageNumber + 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/notice/root(page=${list.pageable.pageNumber + 1})}">></a>
                </li>
            </ul>
        </nav>
    </article>

</div>

</html>