<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }
    </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
        //회원가입 실패시 에러 메시지 출력
        

            

    </script>
    

</th:block>

<div layout:fragment="content">

    <!-- 전체 큰 틀 -->
    <article class = "subtitle_main">
        <!-- 아티클 제목 -->
        <div class = "subtitle_title">
        	<p>회원정보 수정</p>
        </div>
    
    <!-- 회원정보 수정 -->
    <!-- <form action="/my/update" role="form" method="get"> -->
    <!--     <div class="form-group py-2" style="width: 380px; margin:auto;">
            <label th:for="">비밀번호 변경</label>
            <input type="password" th:field="" class="pwinput" placeholder="변경할 비밀번호를 입력해주세요" style="margin-left:10px;">
            <i class="bi bi-eye-fill" style="font-size:1.5rem;"></i>
            
        </div>
        <div class="form-group py-2" style="width: 380px; margin:auto;">
            <label th:for="">전화번호 변경</label>
            <input type="text" th:field="" class="textinput" placeholder="변경할 전화번호를 입력해주세요" style="margin-left:10px;">

        </div>
        <div style="text-align:center" class="py-3" >
            <button type="submit" class="btn btn-outline-dark">수정하기</button>
            <button type="button" class="btn btn-outline-dark" onclick="history.back();">취소</button>
        </div> -->
        <!-- </form> -->
        <!-- 회원 탈퇴 -->


    </article>

</div>

</html>