<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <link rel="stylesheet" href="/css/orderDetail.css" />
</head>

<div layout:fragment="content">

    <!-- 전체 큰 틀 -->
    <article class = "subtitle_main">
        <!-- 아티클 제목 -->
        <div class = "subtitle_title">
            <p>주문 내역</p>
        </div>

        <!-- 주문 내역 -->
        <div th:each="orders : ${list}" class = "content_title">
            <!-- 배송 상태 및 버튼 -->
            <div class = "order_state">
                <p th:text="${orders.orderStatus}">배송 상태</p>
                <a th:href="@{/review(id=${orders.itemId})}">후기 쓰기</a>
            </div>

            <!-- 주문 상품 이미지 및 내역 -->
            <div class = "order_content">
               <a th:href="@{/items(id=${orders.itemId})}">
                <div class = content_left>
                    <img th:src= "@{/img/} + ${orders.imgSaved}"/>

                </div>
               </a>
                <div class = content_right>
                    <p th:text="${orders.orderDate}"></p>
                    <p th:text="${orders.itemName}"></p>
                    <p th:text="${orders.orderPrice + ' 원 '}">59,000원</p>
                </div>
            </div>
        </div>

    </article>

</div>

</html>