@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

.subtitle_main .Itemlist_graph {
    border: 1px solid black;
    height: 20%; width: 66%;
    margin-top: 50px;
    margin-left: 17%;
    margin-bottom: 50px;
    font-family: 'Noto Sans KR', sans-serif;
}

.subtitle_main .Itemlist_graph .Itemlist_graphtable {
    width: 100%;
    border: 1px solid red;   
}

.subtitle_main .Itemlist_graph .Itemlist_graphtable .Itemlist_graphtable_title {
    text-align: center;
    background-color: rgb(234,234,234);
    font-weight: bold;
}

.subtitle_main .Itemlist_graph .Itemlist_graphtable tr td {
    border: 1px solid black;
    height: 45px;
}

.subtitle_main .Itemlist_graph .Itemlist_graphtable tr td:nth-child(1) {
    width: 8%;
    text-align: center;
}

.subtitle_main .Itemlist_graph .Itemlist_graphtable tr td:nth-child(2) {
    width: 54%;    
}

.subtitle_main .Itemlist_graph .Itemlist_graphtable tr td:nth-child(3) {
    width: 12%;

}

.subtitle_main .Itemlist_graph .Itemlist_graphtable tr td:nth-child(4) {
    width: 8%;

}

.subtitle_main .Itemlist_graph .Itemlist_graphtable tr td:nth-child(5) {
    width: 8%;

}

.subtitle_main .Itemlist_graph .Itemlist_graphtable tr td:nth-child(6) {
    width: 8%;
}


.Itemlist1 :nth-child(2) {
    text-indent: 10px;
}

.Itemlist1 :nth-child(3),
.Itemlist1 :nth-child(4){
    text-align: right;
}

.Itemlist1 :nth-child(5),
.Itemlist1 :nth-child(6) {
    text-align: center;
}

.subtitle_main .Itemlist_graph .Itemlist_graphtable tr td a {
    border: 0px solid black;
    color: white;
    border-radius: 5px;
    display:block;
    width: 50px;
    height: 30px;
    background-color: #3498db;
    font-size: 15px;
    margin-left: 7px;
    line-height: 28px;
    text-decoration-line: none;
}

.Itemlist1 {
    font-size: 16px;
}

.item_paging ul {
    text-align: center;
    margin-top: 20px;
}

.item_paging ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

