@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}


.subtitle_main .order_graph {
    border: 1px solid black;
    height: 20%; width: 96%;
    margin-top: 50px;
    margin-left: 2%;
    margin-bottom: 50px;
    font-family: 'Noto Sans KR', sans-serif;
}

.subtitle_main .order_graph .order_graphtable {
    width: 100%;
    border: 0px solid red;   
}

.subtitle_main .order_graph .order_graphtable .order_graphtable_title {
    text-align: center;
    background-color: rgb(234,234,234);
    font-weight: bold;
}

.subtitle_main .order_graph .order_graphtable tr td {
    border: 1px solid black;
    height: 45px;
}


.subtitle_main .order_graph .order_graphtable tr td:nth-child(1) {
    width: 6%;    
    text-align: center;
}

.subtitle_main .order_graph .order_graphtable tr td:nth-child(2) {
    width: 8%;
    text-align: center;
}

.subtitle_main .order_graph .order_graphtable tr td:nth-child(3) {
    width: 20%;
    text-align: center;
}

.subtitle_main .order_graph .order_graphtable tr td:nth-child(4) {
    width: 35%;
}

.subtitle_main .order_graph .order_graphtable tr td:nth-child(5) {
    width: 5%;
}

.subtitle_main .order_graph .order_graphtable tr td:nth-child(6) {
    width: 7%; 
}

.subtitle_main .order_graph .order_graphtable tr td:nth-child(7) {
    width: 10%;
    text-align: center;
}

.subtitle_main .order_graph .order_graphtable tr td:nth-child(8) {
    width: 10%;
    text-align: center;
}


.subtitle_main .order_graph .order_graphtable tr td:nth-child(9) {
    width: 13%;
    text-align: center;
}

.subtitle_main .order_graph .order_graphtable tr td:nth-child(10) {
    width: 10%;
    text-align: center;
}

.order1 td:nth-child(4) {
    text-indent: 10px;
}

.order1 td:nth-child(5) {
    text-align: right;
}

.order1 td:nth-child(6) {
    text-align: right;
}

.order1 td:nth-child(9) {
    text-align: center;
}

.subtitle_main .order_graph .order_graphtable tr td:nth-child(10) button {
    background-color: rgb(52,152,219);
    color: white;
    border: 0px solid red;
    border-radius: 5px;
    width: 50px;
    height: 30px;
}

.order1 {
    font-size: 14px;
}