@charset "UTF-8";


/* 일단 폰트 그대로 남겨둡니다. */
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
/* 일단 폰트 그대로 남겨둡니다. */

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.footermain {
	width: 100%;
	height: 220px;
	margin: auto;
	padding-top: 5rem; /* 위쪽 여백을 5rem으로 설정 */
    padding-bottom: 5rem; /* 아래쪽 여백을 5rem으로 설정 */
    background-color: #F5F5F5; /* 밝은 배경 색상을 설정 (부트스트랩의 기본 값) */
}



.textcontainer {
	position: absolute;
	margin-top: -85px;

}

.textcontainer div {
	margin-left: 360px;
	width: 500px;
	margin-bottom: 20px;
	color: grey;
	font-family: 'NEXON Lv1 Gothic OTF';
}

.iconcontainer {
	position: relative;
	margin-left: 1400px;
	width: 200px;
	bottom: 50px;

}

.iconcontainer a {
	margin-bottom: 200px;
}

i {
	font-size: 30px;
	color: grey;
	margin: 13px;
}