@charset "UTF-8";

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.footermain {
	width: 100%;
	height: 220px;
	margin: auto;
    padding-top: 5rem; /* 위쪽 여백을 5rem으로 설정 */
    padding-bottom: 5rem; /* 아래쪽 여백을 5rem으로 설정 */
    background-color: #F5F5F5; /* 밝은 배경 색상을 설정 (부트스트랩의 기본 값) */
}



.textcontainer {
	position: absolute;
	margin-top: -75px;
}

.textcontainer div {
	margin-left: 60%;
	width: 500px;
	margin-bottom: 20px;
	color: gray;
	font-family: 'NEXON Lv1 Gothic OTF';
}

.iconcontainer {
	position: absolute;
	margin-left: 60%;
	margin-top: -70px;
	text-align: right;
}

i {
	font-size: 30px;
	color: gray;
	margin: 13px;
}