@charset "UTF-8";

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 넥슨 폰트. 추가되어 있어 남겨둡니다. */
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mainnav {
	width: 100%; height: 40px;
	padding-right: 1rem; /* px-4 클래스의 오른쪽 패딩 */
    padding-left: 1rem; /* px-4 클래스의 왼쪽 패딩 */
    margin-right: auto; /* 가운데 정렬을 위한 margin 설정 */
    margin-left: auto;
    background-color: #e60012;
}

.mainnav .mainul {
	margin-bottom: 0.5rem; /* mb-2 클래스의 하단 마진 조절 */
    margin-left: 1rem; /* ms-lg-4 클래스의 왼쪽 마진 조절 */
    list-style:none;
    font-family:'TheJamsil5Bold';
}

.mainnav .mainul .mainmenu {
	width: 150px; height: 100%;
	line-height: 35px;
	float:left;
	text-align: center;
}

.mainnav .mainul .mainmenu:hover .maincat {
	color: lightgray;
}

.mainnav .mainul:first-child {
	margin-left: 20%;
}

.mainnav .mainul .mainmenu .maincat {
	width: 70%; height: 100%;
	text-decoration: none;
	color: white;
	font-family: 'LINESeedKR-Bd';
}



.mainmenu:hover .submenu { /* 상위 메뉴에 마우스 모버한 경우 그 안의 하위 메뉴 스타일 설정 */
    height: 160px;           /* 높이를 93px로 설정 */
}


.mainnav .mainul .mainmenu .submenu {
	list-style:none;
	margin-left: -30px;
	text-align: center;
    display: block;                     /* a 태그의 클릭 범위를 넓힘 */
    width: 175px;                       /* 기본 넓이를 150px로 설정 */
    font-size: 12px;                    /* 폰트 사이즈를 12px로 설정 */
    font-weight: bold;                  /* 폰트를 굵게 설정 */
    font-family: 'TheJamsil5Bold';
    color: white;
}

.submenu {              /* 하위 메뉴 스타일 설정 */
    position: absolute;     /* html의 flow에 영향을 미치지 않게 absolute 설정 */
    height: 0px;            /* 초기 높이는 0px로 설정 */
    overflow: hidden;       /* 실 내용이 높이보다 커지면 해당 내용 감춤 */
    transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(기본) */
    -webkit-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 크롬/사파라ㅣ) */
    -moz-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 파폭) */
    -o-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 오페라) */
    z-index: 99;
}

.submenu .submenulink {          /* 하위 메뉴의 a 태그 스타일 설정 */
	background-color: white;    /* 배경색을 흰색으로 설정 */
    border: solid 1px black;    /* 테두리를 설정 */
    margin-top: -1px;           /* 위 칸의 하단 테두리와 아래칸의 상단 테두리가 겹쳐지도록 설덩 */
}
    
.submenuatag {
	text-decoration: none;  
	color: black;             /* 글씨 색을 RGB(2D2D2D)로 설정 */  
}

.submenulink:hover .submenuatag{
	color: lightgray;
}
