#mainFrame {
	position : relative;
	width : 1200px;
	margin-top: 10px;
	margin-left: 360px;
	min-height : 100px;
	height : auto;
	border : 1px solid black;
}

.cateList {
	height: 30px;
    border : 1px solid black;
}

/* 가로정렬 위한 태그 */
.cateList > div {
	line-height: 30px;
	display: inline-block;
}
.cateList > form {
	width: 900px;
	display: inline-block;
}

.searchBox {
    position: absolute;
    left: 955px;
	top: 0;
}

.mainList {
	position : relative;
	width : 1200px;
	min-height : 100px;
	height : auto;
	border : 1px solid black;
}

.mItemList {
    margin-top : 50px;
	text-align : center;
}

.itemBox {
	display: inline-block;
	margin-bottom: 20px;
	width: 300px;
	height: 400px;
	border: 1px solid black;
	flex-wrap: wrap;
}

.itemBox > a {
	text-decoration: none;
}

.description > p { 
	margin: 0;
	line-height: 50px;
}
.i_name {
	
	height: 50px;
	border: 1px solid black;
}
.i_price {
	height: 50px;
	border: 1px solid black;
}

.thumbnail {
	width: 100%;
	height: 60%;
	border: 1px solid black;
	margin-bottom: 20px;
}

.thumbnail > img {
	width: 100%;
	height: 100%;
}

.page-link {
	width: auto;
	cursor: pointer;
}
