@charset "UTF-8";
body {
	overflow-x: hidden
}

#mainFrame {
	position : relative;
	width : 1200px;
	margin-left: 360px;
	min-height : 100px;
	height : auto;
	border : 0px solid black;
	z-index: 0;
}

.searchFrame {
	position: relative;
	width: 1200px;
	height: 30px;
}

.searchBox {
	position: relative;
	top: 10px;
	left: 820px;
	line-height: 30px;
}

.searchBox > input {
	width: 300px;
	margin-right: 0;
}
.searchBox > button {
	position: relative;
	right: 10px;
	width: 80px;
}

#mainSlide {
	position: relative;
	top: 40px;
	border: 0px solid blue;
	height : auto;
}

.bannerImg {
	position: relative;
}

.mainList {
	margin-top: 100px;
	position : relative;
	width : 1200px;
	min-height : 100px;
	height : auto;
	border-top : 1px solid lightgray;
}

.mainList > h3 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.mItemList {
	text-align: center;
}

.itemBox {
	display: inline-block;
	margin-bottom: 20px;
	margin-left: 10px;
	width: 300px;
	height: 400px;
	border: 0px solid black;
	flex-wrap: wrap;
	cursor : pointer;
}

.itemBox > a {
	text-decoration: none;
}

.description > p { 
	margin: 0;
	line-height: 50px;
}
.i_name {
	height: 50px;
	border: 1px solid black;
}
.i_price {
	height: 50px;
	border: 1px solid black;
}

.thumbnail {
	width: 100%;
	height: 60%;
	border: 1px solid black;
	margin-bottom: 20px;
}

.thumbnail > img {
	width: 100%;
	height: 100%;
}

.bannerImg {
	width: 100%;
}
