@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
/* 서브제목 통일 css */
.subtitle_main {
	width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.subtitle_main .subtitle_title {
    border-bottom: 1px solid black;
    height: 50px; width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.subtitle_main .subtitle_title  p {
    border : 0px solid blue;
    height: 40px; width: 200px;
    line-height: 40px;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif
}	

/* 문자 입력 통일 css */
.textinput {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;

  font-size: 16px;
  background-color: #f7f7f7;
}


.textinput:focus {
    border-color: #007bff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.pwinput {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;

  font-size: 16px;
  background-color: #f7f7f7;
}


.pwinput:focus {
  border-color: #007bff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}